<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.release.pojo.Address">
        <property name="address" value="济南"/>
    </bean>

    <bean id="student" class="com.release.pojo.Student">
        <!--普通注入-->
        <property name="name" value="release"/>

        <!--bean注入-->
        <property name="address" ref="address"/>

        <!--数组-->
        <property name="books">
            <array>
                <value>三国演义</value>
                <value>西游记</value>
                <value>红楼梦</value>
                <value>水浒传</value>
            </array>
        </property>

        <!--List-->
        <property name="hobbys">
            <array>
                <value>刷快手</value>
                <value>写代码</value>
                <value>看电影</value>
            </array>
        </property>

        <!--Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="37065461255464646"/>
                <entry key="银行卡" value="47463464643642"/>
            </map>
        </property>

        <!--Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>BOB</value>
                <value>COC</value>
            </set>
        </property>

        <!--null-->
        <property name="wife">
            <null/>
        </property>

        <property name="info">
            <props>
                <prop key="driver">88888</prop>
                <prop key="url">www.888.com</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>

</beans>

